head {
    color: blue
}
body {
    background: black;
    color: #fff;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    border: 1px solid;
    display: inline-block;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
}
li:nth-child(-n+3){
    background: grey;
}