head {
    color: darkgrey;
}
body {
    background: grey;
    color: black;
    font-size: 25px;
}
table {
    width: 100%
}
table, th, td {
    border: 1px sienna;
    border-collapse: none;
}
th, td {
    border: 1px;
    padding: 15px;
    text-align: Center;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}